body {
  background-color: lightgray;
}

.sidebar {
  position: fixed;
  overflow-y: auto;
  margin: 0;
  height: 100%!important;
  max-height: 100%;
  top: 0;
  background-color: lightgray;
  padding-left: 20px;
  width: 20%;
}

.content {
  margin-left: auto;
  width: 80%;
}